[submodule "server/ckeditor-plugins/insertpre"]
	path = server/ckeditor-plugins/insertpre
	url = https://github.com/wwalc/insertpre.git
[submodule "server/ckeditor-plugins/codetag"]
	path = server/ckeditor-plugins/codetag
	url = https://github.com/drupal-ckeditor-libraries-group/codetag.git
[submodule "server/ckeditor-plugins/ckeditor4"]
	path = server/ckeditor-plugins/ckeditor4
	url = https://github.com/ckeditor/ckeditor4
[submodule "server/ckeditor-plugins/BootstrapCK4-Skin"]
	path = server/ckeditor-plugins/BootstrapCK4-Skin
	url = https://github.com/Kunstmaan/BootstrapCK4-Skin.git
[submodule "server/h5p-php/h5p-php-library"]
	path = server/h5p-php/h5p-php-library
	url = https://github.com/h5p/h5p-php-library.git
[submodule "server/h5p-php/h5p-editor-php-library"]
	path = server/h5p-php/h5p-editor-php-library
	url = https://github.com/h5p/h5p-editor-php-library.git
